body {
    background: purple;
    display: flex;
    flex-direction: column;
}
header {
    position: relative;
}
.top-part {
    align-items: center;
    background: black;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
}
.backing-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.header-image, .header-image-wide {
    max-width: 100%;
}
.header-image {
    display: none;
    flex: 1 1 auto;
    height: 8em;
}
.header-image-wide {
    flex: 0 1 auto;
    max-height: 8em;
    opacity: 0.6;
}
.directory-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
}
.page-title {
    color: rgb(143, 136, 78);
    flex: 1 1 auto;
    margin: 1em 0em 0em 0em;
    padding: 0px;
    text-align: center;
    text-shadow: 1px 1px rgb(198, 199, 192);
}
.subdirectory-list {
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    list-style: none;
    padding: 0;
}
.list-member {
    flex: 1 1 auto;
    margin: 0em 3em;
}
.directory-element {
    background: rgb(143, 136, 78);
    border-radius: 5px;
    color: rgb(197, 223, 245);
    padding: 0em 2em;
    text-align: center;
    text-decoration: none;
    transition: transform 133ms ease-in-out;
}
.directory-element:hover {
    background: rgb(197, 223, 245);
    color: rgb(143, 136, 78);
    transform: scale(5.0);
}
.main-text {
    flex: 1 1 auto;
}
@media all and (orientation: landscape) {
    .top-part {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .header-image {
        display: inline;
    }
    .subdirectory-list {
        flex-direction: row;
    }
}
